<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	
    <!--–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––-->
	<!-- Nastavení aplikace -->
	<!--–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––-->
	<appSettings>
		<add key="emailWebmaster" value="info@travelsoft.cz"/>
	</appSettings>
	<!--–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––-->
	<!-- Spojení na databázi -->
	<!--–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––-->
	<connectionStrings>
		<add name="CMSDB" connectionString="Data Source=neo.magnus3.cz\sqlexpress;Initial Catalog=CMS_UniHobby;Persist Security Info=True;User ID=iusr;Password=magnus3"/>
	</connectionStrings>
	
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.5" >
			<codeSubDirectories>
				<add directoryName="CS"/>
				<add directoryName="VB"/>
			</codeSubDirectories>			
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
		<globalization culture="cs-CZ" uiCulture="cs-CZ" requestEncoding="utf-8" responseEncoding="utf-8" />
		<authentication mode="Windows"/>
		<httpRuntime maxRequestLength="16392" executionTimeout="45" targetFramework="4.5" />				
	</system.web>	

</configuration>
